bandit==1.7.4
black==22.10.0
click==8.1.3
flake8==5.0.4
hatch==1.6.3
ipython==8.6.0
Jinja2==3.1.2
pre-commit==2.20.0
pur==7.0.0
pydocstyle==6.1.1
pylint==2.15.5
pytest==7.2.0
PyYAML==6.0
rich==12.6.0
types-PyYAML==6.0.12.2
